<html>

<head>
    <title>Add a Product</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>

<body>
    <nav class='blue-grey'>
        <div class="nav-wrapper">
            <a href="{% url 'product_add' %}" class="brand-logo center">Sales Predict</a>
            <ul class="right hide-on-med-and-down">
                <li class="active">
                    <a href="#">Result</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="site-wrapper" style="margin-top:75px;">

        {% if product_added %}

        <div class="row">
            <div class="col s10 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Prediction</span>
                        <p>The Value of the Prediction goes here!!</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'product_add' %}">Predict Again</a>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <div class="text-center" style="background-color: rgba(255,255,255,0.8);border-radius:50px;margin-top:50px;padding-top:10px;padding-bottom:10px;">

            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="flow-text">
                                <span class="card-title">Add Your Product</span>
                            </span>
                            <p>A Sales Prediction Web App to contemplate comparative item prices and anticipate sales for the
                                new item</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'product_add' %}">Predict Again</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<h1 align="center" class='lead-mb-7'>Add your Product</h1> -->
            <div class="container">
                <center>
                    <form id="product_form" method="post">
                        <table class="striped centered">
                            {% csrf_token %} {{ product_form }}
                        </table>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Predict
                        </button>
                    </form>
                </center>
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>